extends layout

block content	
	.page-tool
		.pull-left
			h3#dv-header.page-header-left.margin-top-0 #{data.categoryName}
				span#countItem

		.pull-right
			p จัดเรียงตาม : ราคา
				btn-group.margin-left-5(data-toggle='buttons')
					label#price-asc.btn.btn-default.margin-right-5.active(data-toggle="tooltip", data-placement="top", title="ต่ำ - สูง")
						input#option1(type='radio', name='options', autocomplete='off', checked='')
						i.fa.fa-sort-numeric-asc.fa-lg
					label#price-desc.btn.btn-default(data-toggle="tooltip", data-placement="top", title="สูง - ต่ำ")
						input#option2(type='radio', name='options', autocomplete='off')
						i.fa.fa-sort-numeric-desc.fa-lg
		.clearfix
	if data.product != '' && data.product != undefined
		ul#ul-brand.nav.nav-tabs
			li.brand.active(data-value= '#allBrand')
				a(data-toggle='tab',data-value='allBrand', href='#allBrand') ทั้งหมด
			each values in data.brandInCategory
				li.brand(data-value= '#'+values.BrandName)
					a(data-toggle='tab', href= '#'+values.BrandName) #{values.BrandName}

		.tab-content
			#allBrand.tab-pane.fade.in.active
				.pinRow.margin-top-5		
					each values in data.product
						.pinItem(id=parseInt(values.ID))
							.thumbnail.pinBox(itemscope, itemtype="http://schema.org/Product")
								if values.CoverImage != "" && values.CoverImage != undefined
									img(src= values.CoverImage, alt= values.Name, itemprop= "image")
								else
									img(src= "https://cdn24fin.blob.core.windows.net/img/products/1/Logo/1_m.jpg", alt= values.Name, itemprop= "image")
								.caption.padding-bottom-0.padding-left-0.padding-right-0
									meta(itemprop="category", content="#{data.categoryName}")
									meta(itemprop="mpn", content="#{parseInt(values.ID)}")
									a.clearfix(href='#{data.websiteUrl}/product/'+values.Name.replace('+','')+'-'+parseInt(values.ID), itemprop="url", content='#{data.websiteUrl}/product/'+values.Name.replace('+','')+'-'+parseInt(values.ID))
										b(itemprop="name") #{values.Name}

									if values.Brand != ''
										span.pull-left.font-small
											| Brand  
											b(itemprop="brand")= values.Brand
									span.pull-right.font-small
										- var sumStock = values.Stock - values.OnCart - values.OnOrder;
										if sumStock <= 0
											b.text-danger สินค้าหมด
										else if sumStock < 10
											| สถานะ  
											span.color-danger
												i.fa.fa-circle(data-toggle="tooltip", data-placement="bottom", title="ใกล้หมด")
										else if sumStock < 20
											| สถานะ  
											span.color-warning
												i.fa.fa-circle(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนน้อย")
												i.fa.fa-circle.margin-left-2(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนน้อย")
										else
											| สถานะ  
											span.color-success
												i.fa.fa-circle(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนมาก")  
												i.fa.fa-circle.margin-left-2(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนมาก")
												i.fa.fa-circle.margin-left-2(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนมาก")
									.clearfix
									.dottedLine
									
									if values.Price1 > 0
										h4.text-danger.pull-left.margin-right-15.margin-top-7.margin-left-5(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")  ฿
											meta(itemprop="priceCurrency", content="THB")
											meta(itemprop="seller", content="PowerDD")
											b.number4format(itemprop="Price", data-value="#{values.Price1}") 
										if values.Price != values.Price1
											h5.number4format.text-muted.pull-left.line-through.margin-top-9(data-value="(฿#{values.Price})")
									else
										span.pull-left.margin-top-7.text-info  ยังไม่กำหนดราคาขาย

									.pull-right
										if data.memberKeyExist != false
											.btn.btn-default(data-toggle="tooltip", data-placement="bottom", title="เพิ่มสินค้าที่สนใจ")
												i.fa.fa-star
										- var sumStock = values.Stock - values.OnCart - values.OnOrder;
										if sumStock > 0 && values.Price1 > 0
											if data.memberKeyExist != false
												button.btn.btn-add_cart_box.btn-warning.margin-left-5(type='button', data-toggle='modal', data-target='#dv-add_cart', title="สั่งซื้อ") 
													i.fa.fa-shopping-cart
											else
												button.btn.btn-add_cart_box.btn-warning.margin-left-5(type='button', data-toggle='modal', data-target='#dv-login', title="สั่งซื้อ") 
													i.fa.fa-shopping-cart	
									.clearfix
			each val in data.brandInCategory
				div(id= val.BrandName).tab-pane.fade
					.pinRow.margin-top-5		
						each values in data.product
							if val.BrandName == values.Brand
								.pinItem(id=parseInt(values.ID))
									.thumbnail.pinBox(itemscope, itemtype="http://schema.org/Product")
										if values.CoverImage != "" && values.CoverImage != undefined
											img(src= values.CoverImage, alt= values.Name, itemprop= "image")
										else
											img(src= "https://cdn24fin.blob.core.windows.net/img/products/1/Logo/1_m.jpg", alt= values.Name, itemprop= "image")
										.caption.padding-bottom-0.padding-left-0.padding-right-0
											meta(itemprop="category", content="#{data.categoryName}")
											meta(itemprop="mpn", content="#{parseInt(values.ID)}")
											a.clearfix(href='#{data.websiteUrl}/product/'+values.Name.replace('+','')+'-'+parseInt(values.ID), itemprop="url", content='#{data.websiteUrl}/product/'+values.Name.replace('+','')+'-'+parseInt(values.ID))
												b(itemprop="name") #{values.Name}

											if values.Brand != ''
												span.pull-left.font-small
													| Brand  
													b(itemprop="brand")= values.Brand
											span.pull-right.font-small
												- var sumStock = values.Stock - values.OnCart - values.OnOrder;
												if sumStock <= 0
													b.text-danger สินค้าหมด
												else if sumStock < 10
													| สถานะ  
													span.color-danger
														i.fa.fa-circle(data-toggle="tooltip", data-placement="bottom", title="ใกล้หมด")
												else if sumStock < 20
													| สถานะ  
													span.color-warning
														i.fa.fa-circle(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนน้อย")
														i.fa.fa-circle.margin-left-2(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนน้อย")
												else
													| สถานะ  
													span.color-success
														i.fa.fa-circle(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนมาก")  
														i.fa.fa-circle.margin-left-2(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนมาก")
														i.fa.fa-circle.margin-left-2(data-toggle="tooltip", data-placement="bottom", title="มีจำนวนมาก")
											.clearfix
											.dottedLine
											
											if values.Price1 > 0
												h4.text-danger.pull-left.margin-right-15.margin-top-7.margin-left-5(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")  ฿
													meta(itemprop="priceCurrency", content="THB")
													meta(itemprop="seller", content="PowerDD")
													b.number4format(itemprop="Price", data-value="#{values.Price1}") 
												if values.Price != values.Price1
													h5.number4format.text-muted.pull-left.line-through.margin-top-9(data-value="(฿#{values.Price})")
											else
												span.pull-left.margin-top-7.text-info  ยังไม่กำหนดราคาขาย

											.pull-right
												if data.memberKeyExist != false
													.btn.btn-default(data-toggle="tooltip", data-placement="bottom", title="เพิ่มสินค้าที่สนใจ")
														i.fa.fa-star
												- var sumStock = values.Stock - values.OnCart - values.OnOrder;
												if sumStock > 0 && values.Price1 > 0
													if data.memberKeyExist != false
														button.btn.btn-add_cart_box.btn-warning.margin-left-5(type='button', data-toggle='modal', data-target='#dv-add_cart', title="สั่งซื้อ") 
															i.fa.fa-shopping-cart
													else
														button.btn.btn-add_cart_box.btn-warning.margin-left-5(type='button', data-toggle='modal', data-target='#dv-login', title="สั่งซื้อ") 
															i.fa.fa-shopping-cart	
										.clearfix
	#dv-add_cart.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') &times;
						span.sr-only Close
					h4.modal-title
						span สั่งซื้อสินค้า
				.modal-body
					.input-group
						.input-group-addon จำนวน
						input.txt-qty.form-control(type='text', value='1')
						span.input-group-btn
							button.btn-save.btn.btn-warning(type='button')
								i.fa.fa-check-circle
								|   บันทึกข้อมูล
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') ยกเลิก	
	#dv-login.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					h4.modal-title
						span สมาชิก
				.modal-body.text-center
					div#login
						form.form-horizontal
							input#username.form-control(type="text", placeholder="ชื่อผู้ใช้")
							input#password.form-control.margin-top-5(type="password", placeholder="รหัสผ่าน")
							button#btn-login_web.form-control.btn.btn-warning.btn-block.margin-top-5.margin-bottom-5(type="button")  เข้าสู่ระบบ
						.dottedLine
						
						a.link-regis(href="javascript:void(0)") สมัครสมาชิก
						span.text-info  |  
						a.link-forgot(href="javascript:void(0)") ลืมรหัสผ่าน ?

					div#register.hidden
						form.regis.form-horizontal
							input#txt-username.form-control.txt-require(type="text", placeholder="ชื่อผู้ใช้")
							input#txt-password.form-control.txt-require.margin-top-5(type="password", placeholder="รหัสผ่าน")
							input#txt-password2.form-control.txt-require.margin-top-5(type="password", placeholder="ยืนยันรหัสผ่าน")
							input#txt-firstname.form-control.margin-top-5(type="text", placeholder="ชื่อ")
							input#txt-lastname.form-control.margin-top-5(type="text", placeholder="นามสกุล")
							input#txt-mobile.form-control.txt-require.margin-top-5(type="text", placeholder="เบอร์โทรศัพท์")
							button#btn-register.form-control.btn.btn-warning.btn-block.margin-top-5.margin-bottom-5(type="button")  สมัครสมาชิก
						.dottedLine
						.alert#user-exist.alert-danger.hidden.margin-bottom-5.padding-top-5.padding-bottom-5(role="alert")
							|  มีชื่อผู้ใช้นี้ในระบบแล้วค่ะ
						.alert#mobile-exist.alert-danger.hidden.margin-bottom-5.padding-top-5.padding-bottom-5(role="alert")
							|  มีเบอร์โทรศัพท์นี้ในระบบแล้วค่ะ
						.alert#pass-discrepant.alert-danger.hidden.margin-bottom-5.padding-top-5.padding-bottom-5(role="alert")
							|  รหัสผ่านไม่ตรงกันค่ะ
						.alert#regis-success.alert-success.hidden.margin-bottom-5.padding-top-5.padding-bottom-5(role="alert")
							|  สมัครสมาชิกเรียบร้อยแล้ว
							br
							กรุณารอสักครู่ค่ะ

						a.link-login(href="javascript:void(0)") เข้าสู่ระบบ
						span.text-info  |  
						a.link-forgot(href="javascript:void(0)") ลืมรหัสผ่าน ?

					div#forgot.hidden
						form.forgot.form-horizontal
							input#txt-keyword.form-control.txt-require(type="text", placeholder="ชื่อผู้ใช้ / เบอร์โทรศัพท์ / อีเมล")
							button#btn-next.form-control.btn.btn-warning.btn-block.margin-top-5.margin-bottom-5(type="button")  ต่อไป
							span#txt-question.form-control.hidden คำถาม ?
							input#txt-answer.form-control.txt-require.hidden.margin-top-5(type="text", placeholder="คำตอบ")
						.dottedLine

						a.link-login(href="javascript:void(0)") เข้าสู่ระบบ
						span.text-info  |  
						a.link-regis(href="javascript:void(0)") สมัครสมาชิก
					div#login-facebook
						span.btn-login_facebook.form-control.btn.btn-facebook.btn-social.btn-block.margin-top-10.margin-bottom-5(type="button")
							i.fa.fa-facebook
							|  เข้าสู่ระบบโดยใช้ Facebook