extends layout

block content
	#accordion.panel-group(role='tablist', aria-multiselectable='true')
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title				
					a(data-toggle='collapse', data-parent='#accordion', href='#info', aria-expanded='true' aria-controls='info')
						|#{__('pleace_search')}
					.pull-right
						a(data-toggle='collapse', data-parent='#accordion', href='#info', aria-expanded='true' aria-controls='info')
							i.fa.fa-plus
			#info.panel-collapse.collapse(role='tabpanel')
				.panel-body
					.panel.panel-default
						.panel-body						
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								form.form-horizontal
									.form-group
										label.col-sm-3.control-label(for='input') #{__('claimno')}
										.col-sm-8.text-center
											input.form-control#claimno(type='text', placeholder='Claim No.')
									.form-group
										label.col-sm-3.control-label(for='input') #{__('_from')}#{__('date')}
										.col-sm-3.text-center
											input.form-control.input-date#date_from
										label.col-sm-2.control-label(for='input') #{__('_to')}
										.col-sm-3.text-center
											input.form-control.input-date#date_to
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								form.form-horizontal
									.form-group
										label.col-sm-3.control-label(for='input') #{__('status')}
										.radio.col-sm-8
											label
												input(type='radio', name='optradio', data-status='CI', checked)
												| #{__('claim_wait_checkdata')}
										label.col-sm-3.control-label(for='input')
										.radio.col-sm-8
											label
												input(type='radio', name='optradio', data-status='CP')
												| #{__('claim_customer_sent')}
										label.col-sm-3.control-label(for='input')
										.radio.col-sm-8
											label
												input(type='radio', name='optradio', data-status='CT')
												| #{__('claim_instock')}
										label.col-sm-3.control-label(for='input')
										.radio.col-sm-8
											label
												input(type='radio', name='optradio', data-status='SH')
												| #{__('claim_finish')}
							.col-xs-12.col-sm-12.col-md-12.col-lg-12
								form.form-horizontal
									.form-group
										.col-sm-12.text-center
											.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') #{__('submit')}
				
	
	.row.wait.hidden
		.col-xs-12
			.box.box-info
				.box-header
					h3.box-title #{__('register_dealer')}
				.box-body
					table#table-claim_info.table.table-bordered.table-striped
						thead
							tr.font-sm
								th(width="200") #{__('firstname')} - #{__('lastname')}
								th(width="80") #{__('province')}
								th(width="80") #{__('submitDate')}
								th #{__('profileSummary')}
						tbody				 
						
	#dv-info.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') &times;
						span.sr-only Close
					h4.modal-title
				.modal-body
					dl
						dt  เบอร์โทรฯ
						dd.mobile
					dl
						dt  เวลาที่สะดวกในการติดต่อ
						dd.time
					dl
						dt  สนใจเป็นตัวแทนในจังหวัด
						dd.province
					dl
						dt  ที่อยู่
						dd.address
					dl
						dt  แนะนำประวัติ หรือกิจการ หรือรูปแบบการจำหน่าย
						dd.profile
					dl
						dt  สาเหตุที่สนใจเป็นตัวแทนจำหน่าย
						dd.reason
					dl
						dt  ความคาดหวังเมื่อเป็นตัวแทนจำหน่าย
						dd.expect
					dl
						dt  ความคิดเห็น เกี่ยวกับการแข่งขันเพื่อความอยู่รอดในธุรกิจ
						dd.comment

					.row
						.col-sm-6.img0
							a(href="#", target="_blank")
								img.img-responsive.img-rounded.margin-bottom-10(src="https://res.cloudinary.com/powerdd/image/upload/v1438076463/0875665456-1.jpg")
						.col-sm-6.img1
							a(href="#", target="_blank")
								img.img-responsive.img-rounded.margin-bottom-10(src="https://res.cloudinary.com/powerdd/image/upload/v1438076463/0875665456-1.jpg")
						.col-sm-6.img2
							a(href="#", target="_blank")
								img.img-responsive.img-rounded.margin-bottom-10(src="https://res.cloudinary.com/powerdd/image/upload/v1438076463/0875665456-1.jpg")
						.col-sm-6.img3
							a(href="#", target="_blank")
								img.img-responsive.img-rounded.margin-bottom-10(src="https://res.cloudinary.com/powerdd/image/upload/v1438076463/0875665456-1.jpg")

				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') #{__('cancel')}