extends layout

block content
	.pinBox.pinWell.padding-10
		h1.page-header.font-28.margin-top-10 เคลมสินค้า
		#form-loading.row.hidden
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.margin-top-10
				.alert.alert-info.text-center.margin-bottom-0
					.progress.margin-bottom-5
					#progress.progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%')
						span.sr-only
					i.fa.fa-cog.fa-spin
						|  กำลังส่งข้อมูลเข้าระบบ กรุณารอสักครู่ค่ะ
		#form-success.row.hidden
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.margin-top-10
				.alert.alert-info.text-center.margin-bottom-0
					| ขอบคุณสำหรับข้อมูล จะมีเจ้าหน้าที่พิจารณา และติดต่อท่านกลับไปค่ะ
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			h3 #{__('pleace_search')}
			form.form-horizontal
				.form-group
					label.col-sm-3.control-label(for='input') #{__('claimno')}
					.col-sm-8.text-center
						input.form-control.claimno(type='text', placeholder='Claim No.')
				.form-group
					label.col-sm-3.control-label(for='input') #{__('_from')}
					.col-sm-3.text-center
						input.form-control.input-date#date_from
					label.col-sm-2.control-label(for='input') #{__('_to')}
					.col-sm-3.text-center
						input.form-control.input-date#date_to
				.form-group
					label.col-sm-3.control-label(for='input') #{__('status')}
					.radio.col-sm-8
						label
							input(type='radio', name='optradio', data-status='A')
							| Option 1
					.radio.col-sm-8
						label
							input(type='radio', name='optradio', data-status='B')
							| Option 2
					.radio
						label.col-sm-8
							input(type='radio', name='optradio', data-status='C')
							| Option 3
					.radio.col-sm-8
						label
							input(type='radio', name='optradio', data-status='D')
							| Option 4
				.form-group
					.col-sm-offset-2.col-sm-10
						.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
				
	
	.row.wait.hidden
		.col-xs-12
			.box
				.box-header
					h3.box-title #{__('register_dealer')}
				.box-body
					table#dv-register_dealer.table.table-bordered.table-striped
						thead
							tr.font-sm
								th(width="200") #{__('firstname')} - #{__('lastname')}
								th(width="80") #{__('province')}
								th(width="80") #{__('submitDate')}
								th #{__('profileSummary')}
						tbody				 
						
	#dv-info.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') &times;
						span.sr-only Close
					h4.modal-title
				.modal-body
					dl
						dt  เบอร์โทรฯ
						dd.mobile
					dl
						dt  เวลาที่สะดวกในการติดต่อ
						dd.time
					dl
						dt  สนใจเป็นตัวแทนในจังหวัด
						dd.province
					dl
						dt  ที่อยู่
						dd.address
					dl
						dt  แนะนำประวัติ หรือกิจการ หรือรูปแบบการจำหน่าย
						dd.profile
					dl
						dt  สาเหตุที่สนใจเป็นตัวแทนจำหน่าย
						dd.reason
					dl
						dt  ความคาดหวังเมื่อเป็นตัวแทนจำหน่าย
						dd.expect
					dl
						dt  ความคิดเห็น เกี่ยวกับการแข่งขันเพื่อความอยู่รอดในธุรกิจ
						dd.comment

					.row
						.col-sm-6.img0
							a(href="#", target="_blank")
								img.img-responsive.img-rounded.margin-bottom-10(src="https://res.cloudinary.com/powerdd/image/upload/v1438076463/0875665456-1.jpg")
						.col-sm-6.img1
							a(href="#", target="_blank")
								img.img-responsive.img-rounded.margin-bottom-10(src="https://res.cloudinary.com/powerdd/image/upload/v1438076463/0875665456-1.jpg")
						.col-sm-6.img2
							a(href="#", target="_blank")
								img.img-responsive.img-rounded.margin-bottom-10(src="https://res.cloudinary.com/powerdd/image/upload/v1438076463/0875665456-1.jpg")
						.col-sm-6.img3
							a(href="#", target="_blank")
								img.img-responsive.img-rounded.margin-bottom-10(src="https://res.cloudinary.com/powerdd/image/upload/v1438076463/0875665456-1.jpg")

				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') #{__('cancel')}