extends layout

block content
	.row
		.col-md-4
			.box.box-primary
				.box-header.with-border
					h3.box-title 
						i.fa.fa-clock-o
						|  #{__('Expiration Time')}
				.box-body
					form(role="form")

						.form-group
							label #{__('Cart Expired')}
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| #{__('Hours')} 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') #{__('Hours')}
										li
											a(href='#') #{__('Days')}

						.form-group
							label #{__('Order Expired')}
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| #{__('Hours')} 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') #{__('Hours')}
										li
											a(href='#') #{__('Days')}

						.form-group
							label #{__('Login Expired (Normal)')}
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| #{__('Hours')} 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') #{__('Hours')}
										li
											a(href='#') #{__('Days')}

						.form-group
							label #{__('Login Expired (Remember)')}
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| #{__('Hours')} 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') #{__('Hours')}
										li
											a(href='#') #{__('Days')}

				.box-footer
					span.btn.btn-primary.pull-right
						i.fa.fa-save
						|  #{__('Save Data')}



		.col-md-4
			.box.box-primary
				.box-header.with-border
					h3.box-title 
						i.fa.fa-truck
						|  #{__('Shipping Cost')}
				.box-body
					form(role="form")

						.form-group
							.radio
								label
									input(type='radio', name='hasFees', value='free', checked='')
									|  #{__('Free Shipping')}
						.form-group
							.radio
								label
									input(type='radio', name='hasFees', value='has', checked='')
									|  #{__('Has Shipping Cost')}

						.dotted-line

						.form-group
							.radio
								label
									input(type='radio', name='feesType', value='free', checked='')
									|  #{__('Fixed Cost')}

						.form-group
							.input-group
								input.form-control(type='text')
								.input-group-btn
									button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
										| #{__('Per Order')} 
										span.fa.fa-caret-down
									ul.dropdown-menu
										li.active
											a(href='#') #{__('Per Piece')}
										li
											a(href='#') #{__('Per Order')}
						.form-group
							.radio
								label
									input(type='radio', name='feesType', value='free', checked='')
									|  #{__('Weight Calculation')}
							